.DraggableList {
  width: 500px;
  border-radius: 7px;
  margin: 0;
  padding: 0;

  .item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;
    padding: 10px 0 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #fff;
    transition: all 0.2s ease-out;

    &.dragging {
      opacity: 0.7;
      transform: scale(1.05);
    }

    .drag-handle {
      padding: 10px 15px;
      margin: -10px 0;
      color: #474747;
      font-size: 1.13rem;
      &::before {
        content: '...';
        display: inline-block;
        vertical-align: 6px;
      }
    }
  }
}
