@import "reset.css";

body {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
  background-color: gainsboro;
}

canvas {
  width: 800px;
  height: 800px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns {
  display: flex;
  flex-direction: column;
}

.color-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.color-option {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid white;
  transition: transform ease-in-out 0.1s;
}

.color-option:hover {
  transform: scale(1.2);
}

input#color {
  background-color: white;
}
