@charset "utf-8";

/* 유틸리티 */
/* 스크린 리더 전용 */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* 한줄 말줄임 */
.sl-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 두줄 말줄임 */
.multi-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 컨테이너 스타일 */
.cont-movie {
  width: 1060px;
  margin: 86px auto 0;
  padding: 0 27px 29px;
  border: 2px solid #bdbdbd;
  border-radius: 15px;
  background-color: #e5e5e5;
}
