.Dropdown {
  position: relative;
  display: inline-block;
  width: 400px;

  button {
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-align: inherit;
  }

  .button-toggle {
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #c35;
    padding: 10px 15px;
    .text {
      font-size: 1.2rem;
      color: #fff;
    }
  }
}
.DropdownPopover::before {
  content: '';
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.DropdownList {
  & {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    right: 0;
    border-radius: 8px;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: 0px 1px 4px 4px rgba(0, 0, 0, 0.05);
    z-index: 10;
    max-height: 300px;
    overflow-y: auto;
  }
  .item {
    position: relative;
    button {
      padding: 15px 10px;
      border: 0;
      background-color: inherit;
      font-size: 1rem;
      transition: ease-out 0.3s;
    }

    &:first-of-type {
      margin-top: 8px;
    }

    &[aria-selected='true'] {
      background-color: #eee;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        border: 2px solid #c35;
      }
    }
    &:hover {
      background-color: #fff5f5;
    }
    &[aria-current='true'] {
      background-color: #fee;
    }
  }
}

.selectbox {
  box-sizing: border-box;
  width: 400px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #c35;
  padding: 10px 15px;
  font-size: 1.2rem;
  color: #fff;
  appearance: none;

  option {
    background-color: #fff;
    font-size: 1rem;
  }
}
