.Pagination {
  display: flex;
  justify-content: center;

  .pageList {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .page {
    button {
      position: relative;
      display: block;
      width: 100%;
      outline: 0;
      border: 0;
      padding: 25px 10px 10px;
      background: none;
      text-align: center;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 7px;
        height: 7px;
        border: 1px solid #000;
        border-radius: 50%;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &.current button {
      font-weight: 700;
      &::before {
        background-color: #000;
      }
    }
  }
}
