@charset "utf-8";

#app {
  width: 100vw;
  height: 100vw;
}

#app .cont-board {
  max-width: 1038px;
  padding-top: 75px;
  margin: 0 auto;
}

#app .tit-game {
  position: relative;
  margin-bottom: 72px;
}

#app .tit-game::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 4px;
  margin-top: -2px;
  background-color: #f2994a;
  z-index: -1;
}

.tit-game .tit-image {
  display: block;
  overflow: hidden;
  width: 270px;
  height: 64px;
  padding: 0 40px;
  margin: 0 auto;
  text-indent: -9999px;
  font-size: 1px;
  background: no-repeat center / 270px 64px url(./../images/CardGame.png);
  background-color: #fff;
}
