* {
    box-sizing: border-box;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');
  body {
      font-family: 'Lato', sans-serif;
      border: solid teal;
      
  }
  
  /* Play List */
  .status-bar {
      display: flex;
      justify-content: space-between;
  }
  .status-bar__column {
      width: 100%;
  }
  .status-bar__column:nth-child(1) {
      margin-left: 50px;
  }
  .status-bar__column:nth-child(2) {
      margin-left: -120px;
  }
  
  /* Header */
  .welcome-header {
      display: flex;
      margin-left: 30px;
  }
  
  .welcome-header__column:nth-child(2) {
      margin-left: 10px;
  }
  
  /* Menu Bar */
  .menu-bar {
      display: flex;
      margin-left: 30px;
  }
  
  .menu-bar__column:nth-child(1) {
      margin-right: 60px;
  }
  
  .menu-bar__column:nth-child(2) {
      margin-left: 60px;
  }
  
  .menu-bar__column:nth-child(3) {
      margin-left: 20px;
  }
  
  .user-component {
    justify-content: space-between;
    margin-left: 30px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
  
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 27px;
  
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__title {
    font-weight: 600;
    font-size: 22px;
}

.user-component__avatar--xl {
    width: 80px;
    height: 80px;
  }
  
  .user-component__avatar--sm {
    width: 60px;
    height: 60px;
    border-radius: 25px;
  }

  .user-component__title--not-bold {
      font-weight: 400;
  }

  .user-component__time {
    margin-bottom: 5px;
    display: block;
  }
.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 27px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__title {
    font-weight: 600;
    font-size: 22px;
}

.user-component__avatar--xl {
    width: 80px;
    height: 80px;
  }
  
  .user-component__avatar--sm {
    width: 60px;
    height: 60px;
    border-radius: 25px;
  }

  .user-component__title--not-bold {
      font-weight: 400;
  }

  .user-component__time {
    margin-bottom: 5px;
    display: block;
  }
  /* Other Lists */
  
  .artist-main-box__orange {
      height: 80px;
      width: 80px;
      border-radius: 15px;
      border: solid black;
      background-color: orangered;
  }
  
  
  .artist-main-box__pink {
      height: 80px;
      width: 80px;
      border-radius: 15px;
      border: solid black;
      background-color: pink;
  }
  
  .artist-main-box__blue {
      height: 80px;
      width: 80px;
      border-radius: 15px;
      border: solid black;
      background-color: blue;
  }
  
  .artist-main-box__teal {
      height: 80px;
      width: 80px;
      border-radius: 15px;
      border: solid black;
      background-color: teal;
  }
  