@import "reset.css";

.util-ir {
  display: block;
  overflow: hidden;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 0;
  text-indent: -9999px;
}

.image-upload {
  position: absolute;
  top: 77px;
  left: 149px;
}

#image-upload-input {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#image-upload-input + label {
  display: block;
  width: 185px;
  height: 54px;
  text-align: center;
  line-height: 54px;
  background: #2f80ed;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

#carousel {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.carousel-cont {
  perspective: 1000px;
}

.carousel-list {
  width: 348px;
  height: 348px;
  position: relative;
  transform-style: preserve-3d;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-reflect: below 35px
    linear-gradient(transparent 55%, rgba(255, 255, 255, 0.25));
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
}

/* .carousel-item:first-child {
  transform: rotateY(0deg) translateZ(250px);
}

.carousel-item:nth-child(2) {
  transform: rotateY(120deg) translateZ(250px) rotateY(-120deg);
}

.carousel-item:nth-child(3) {
  transform: rotateY(240deg) translateZ(250px) rotateY(-240deg);
} */

.carousel-item img {
  display: block;
  width: 100%;
  height: 100%;
  filter: brightness(70%);
}

.now img {
  filter: brightness(100%);
}

/* filter를 사용하지 않는 경우 */
/* .carousel-item::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.3;
  z-index: 10;
} */

.prev-btn,
.next-btn {
  position: absolute;
  width: 140px;
  height: 62px;
  top: 50%;
  margin-top: -31px;
  background: #fff;
  border: 3px solid #828282;
  border-radius: 36px;
  color: #828282;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.prev-btn {
  left: 149px;
}

.next-btn {
  right: 149px;
}

.prev-btn:hover,
.next-btn:hover {
  background: #828282;
  color: #fff;
}
