@import "reset.css";

.util-ir {
  display: block;
  overflow: hidden;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 0;
  text-indent: -9999px;
}

.image-upload {
  position: absolute;
  top: 77px;
  left: 149px;
}

#image-upload-input {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#image-upload-input + label {
  display: block;
  width: 185px;
  height: 54px;
  text-align: center;
  line-height: 54px;
  background: #2f80ed;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  cursor: pointer;
}
