.carousel {
  & {
    font-family: 'sans-serif';
    position: relative;
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 600px;
    height: 320px;
    overflow: hidden;
  }
  .container {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 320px;
  }
  .item {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    left: 0;
    transform: translateX(-200%);
    transform-style: preserve-3d;

    img {
      display: block;
    }
    span {
      position: absolute;
      display: block;
      left: 10px;
      top: 10px;
      font-size: 2rem;
      font-weight: 700;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 3px 10px;
    }

    &.left_current {
      animation: left_current ease-out 0.3s forwards;
    }
    &.left_next {
      animation: left_next ease-out 0.3s forwards;
    }
    &.right_current {
      animation: right_current ease-out 0.3s forwards;
    }
    &.right_next {
      animation: right_next ease-out 0.3s forwards;
    }
    &.current {
      transform: translateX(0);
    }
  }

  .navButton {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    background-color: #333;
    border-radius: 50%;
    border: 0;
    outline: 0;
    opacity: 0.3;
    &:hover {
      opacity: 1;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 6px;
      height: 17px;
      top: 5px;
      background-color: #fff;
      transform-origin: 3px 14px;
    }
  }
  .navLeft {
    left: 10px;
    &::before,
    &::after {
      left: 11px;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(135deg);
    }
  }
  .navRight {
    right: 10px;
    &::before,
    &::after {
      right: 11px;
    }
    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(-135deg);
    }
  }

  @keyframes left_current {
    0% {
      left: 0;
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  @keyframes left_next {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes right_current {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes right_next {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  &.carousel1 {
    height: 370px;
  }

  &.carousel2 {
    width: 100%;
    height: 200px;
    perspective: 1000px;

    .container {
      width: 300px;
      height: 200px;
      margin: 0 auto;

      transform: translateZ(-288px);
      transform-style: preserve-3d;
      transition: transform 1s;
    }
    .item {
      width: 290px;
      height: 190px;
      margin: 5px;
      transition: transform 1s;
      opacity: 0.8;

      &:nth-child(9n + 1) {
        background: #f00;
      }
      &:nth-child(9n + 2) {
        background: #fa0;
      }
      &:nth-child(9n + 3) {
        background: #af0;
      }
      &:nth-child(9n + 4) {
        background: #0f0;
      }
      &:nth-child(9n + 5) {
        background: #0fa;
      }
      &:nth-child(9n + 6) {
        background: #0af;
      }
      &:nth-child(9n + 7) {
        background: #00f;
      }
      &:nth-child(9n + 8) {
        background: #a0f;
      }
      &:nth-child(9n + 0) {
        background: #f0a;
      }
    }
  }
}
